.form_wraper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
}
.form_wraper .input_item {
    padding: 15px;
}
.form_wraper .input_item label {
    display: block;
}
.form_wraper .input_item input, .form_wraper .input_item select, .form_wraper .input_item button {
    width: 100px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}
.form_wraper .input_item button {
    margin-top: 20px;
}
.result {
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width: 768px) {
    .form_wraper {
        flex-direction: column;
    }
    .form_wraper .input_item {
        width: 100%;
    }
    .form_wraper .input_item input, .form_wraper .input_item select, .form_wraper .input_item button {
        width: 100%;
    }
    .form_wraper .input_item button {
        margin-top: 0;
    }
}